<div class="d-flex justify-content-end py-3 px-4 bg-purple">
    <span class="mx-3 text-light">Sanjula Lahiru Ananda Samarakoon Mudiyanselage D G</span>
    <span class="text-light">S3737333</span>
</div>
